@model Model.Models.SolicitacaoColeta

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal borda-arredondada" style="text-align:left !important; background-color:#006633;">
        <div class="form-horizontal">
            <h3>Solicitacão de Coleta</h3>


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Reciclavel, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Reciclavel, (SelectList)ViewBag.TipoReciclavel, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Reciclavel, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DescReciclavel, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.DescReciclavel, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DescReciclavel, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FotoReciclavel, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input name="Image" type="file" />
                    @Html.ValidationMessageFor(model => model.FotoReciclavel, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.IdInstituicao, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.IdInstituicao, (SelectList)ViewBag.Instituicao, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IdInstituicao, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Entregar no Local")
                <div class="col-md-4">
                    @Html.RadioButtonFor(model => model.TpSolicitacao, "A", false)
                    @Html.ValidationMessageFor(model => model.TpSolicitacao, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Coleta no Domícilio")
                <div class="col-md-4">
                    @Html.RadioButtonFor(model => model.TpSolicitacao, "B", false)
                    @Html.ValidationMessageFor(model => model.TpSolicitacao, "", new { @class = "tex-danger" })
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Concluir Solicitação" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

