@model Model.Models.Instituicao

@{
    Layout = "~/Views/Shared/_LayoutSemMenu.cshtml";
}


<div class="row" style="background-color:white; width: auto; height: auto;
         margin-left: 15px; margin-right: 15px;">

    <!-- Div com o logo-->
    <div class="row" id="linha-logo" style=" margin-top: 50px">
        <img src="@Url.Content("~/Content/Images/logo-branco.svg")" id="logo-branco-cadastro" />
    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <!--Div central-->
        <div class="row" style="background-color: white; width: auto; height: auto; margin-left: auto; margin-right: auto; border: 1px solid black;">
            <!--Primeira div-->
            <div class="form-horizontal borda-arredondada" style="background-color: white">
                <div class="form-group " style=" margin-top: 10px;">
                    @Html.LabelFor(model => model.NmInstituicao, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.NmInstituicao, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NmInstituicao, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.DocInstituicao, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.DocInstituicao, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DocInstituicao, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NmResponsavel, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NmResponsavel, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NmResponsavel, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PwInstituicao, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PwInstituicao, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PwInstituicao, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <!--Segunda div-->
            <div class="form-horizontal borda-arredondada" style="background-color: white;">
                <div class="form-group" style=" margin-top: 10px;">
                    @Html.LabelFor(model => model.Cep, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4 text-center">
                        @Html.EditorFor(model => model.Cep, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Cep, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.TpLogarouro, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.TpLogarouro, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TpLogarouro, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.Cidade, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Bairro, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Bairro, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Bairro, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.NmEndereco, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.NmEndereco, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NmEndereco, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NumEndereco, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4 text-center">
                        @Html.EditorFor(model => model.NumEndereco, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NumEndereco, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.Complemento, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Complemento, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Complemento, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group" style="margin-top:30px;margin-bottom:30px;">
                <div class="col-md-offset-2 col-md-10 col-centered" style="margin-left:auto;">
                    <input type="submit" value="Cadastrar" class="btn btn-success" />
                </div>
            </div>
        </div>
    }
</div>


