@model Model.Models.Pessoa

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}

<h2>Alterar Perfil</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal borda-arredondada" style="text-align:left !important;background-color:#006633; color:white;" onload="doOnLoad();">

        <div class="form-group " style="margin-top:20px;">
            @Html.LabelFor(model => model.NmPessoa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.NmPessoa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NmPessoa, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.CpfPessoa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.CpfPessoa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CpfPessoa, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.DtNasc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">          
                @Html.EditorFor(model => model.DtNasc, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control",@type="date"} } )
                @Html.ValidationMessageFor(model => model.DtNasc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telefone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

        <div class="form-horizontal borda-arredondada" style="text-align:left;background-color:#006633;color:white;">
            <div class="form-group" style="margin-top:20px;">
                @Html.LabelFor(model => model.Cep, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Cep, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Cep, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.TpLogarouro, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.TpLogarouro, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TpLogarouro, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.Cidade, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Bairro, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Bairro, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Bairro, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.NmEndereco, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.NmEndereco, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NmEndereco, "", new { @class = "text-danger" })
                </div>

            </div>

            <div class="form-group" >
                @Html.LabelFor(model => model.NumEndereco, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.NumEndereco, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NumEndereco, "", new { @class = "text-danger" })
                </div>
                @Html.LabelFor(model => model.Complemento, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Complemento, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Complemento, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        @Html.HiddenFor(model => model.IdUsuario)
        @Html.HiddenFor(model => model.NvAcesso)
        @Html.HiddenFor(model => model.Pontuacao)
        <div class="form-group" style="margin-top:30px;margin-bottom:30px;">
            <div class="col-md-offset-2 col-md-10 col-centered" style="margin-left:auto;">
                <input type="submit" value="Salvar" class="btn btn-success" />
            </div>
        </div>
        <script>
		var myCalendar;
		function doOnLoad() {
			myCalendar = new dhtmlXCalendarObject(["cal_1","cal_2","cal_3"]);
		}
        </script>

        <style>
            #calendar,
            #calendar2,
            #calendar3 {
                border: 1px solid #dfdfdf;
                font-family: Roboto, Arial, Helvetica;
                font-size: 14px;
                color: #404040;
            }
        </style>
}
