<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Recicla Mais Brasil - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="margin:0px;">
    <div class="navbar navbar-inverse navbar-fixed-top" style="position:static;margin-bottom:5px;">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" style="width:180px; height:80px; padding:7px 15px">
                    <img src="~/Content/Images/logo-nav-top.svg" alt="Brand" style="width:150px;height:67.69px;">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav fonte-texto-menu" style="margin-bottom:5px;">
                    <li>@Html.ActionLink("Historico", "Index", "Home")</li>
                    <li>@Html.ActionLink("Loja", "About", "Home")</li>
                    <li>@Html.ActionLink("Formas de Reciclagem", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Solicitar Coleta", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Perfil", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Sair", "Contact", "Home")</li>
                    <li><a href="@Url.Action("Index","Home")"><img src="~/Content/Images/bell-icon.svg" id="bell-icon" /></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class=" body-content">
        @RenderBody()
    </div>
    


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/map.js")
    @RenderSection("scripts", required: false)
</body>
</html>
