@model Model.Models.Account.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutSemMenu.cshtml";
}


<div class="row row-centered" id="box-cadastro" style="height:auto !important; width:auto !important;">
    <div class="row row-centered" id="linha-logo">
        <a href="@Url.Action("Index","Home")"><img src="@Url.Content("~/Content/Images/logo-branco.svg")" id="logo-branco-cadastro" /></a>
    </div>
    <div class="row" style="margin-top:10.3px;">
        <h3>Login</h3>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal row">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "control-label col-md-2 col-centered" })
                    <div class="col-md-3 col-centered">
                        @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                    </div>
                </div>
              

                <div class="form-group row">
                    @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label col-md-2 col-centered" })
                    <div class="col-md-3 col-centered">
                        @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LembrarMe, htmlAttributes: new { @class = "control-label col-md-2 col-centered" })
                    <div class="col-md-4 col-centered">
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.LembrarMe)
                            @Html.ValidationMessageFor(model => model.LembrarMe, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group row-centered">
                    <div class="col">
                        <input type="submit" value="Entrar" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

</div>